.hljs {
  color: #c9d1d9;
  background: #0d1117;
}
.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-section, .hljs-link {
  color: #ff7b72;
}
.hljs-string, .hljs-title, .hljs-name, .hljs-type, .hljs-attribute, .hljs-symbol, .hljs-bullet, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable {
  color: #a5d6ff;
}
.hljs-comment, .hljs-quote, .hljs-deletion, .hljs-meta {
  color: #8b949e;
}
.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-title, .hljs-section, .hljs-doctag, .hljs-type, .hljs-name, .hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}